{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>
    <script src="{% static 'js/pako.min.js' %}" ></script>
    <script src="{% static 'js/vue.min.js' %}" ></script>
    <script src="{% static 'js/vue-resource.min.js' %}" ></script>
    <!--<script src="{% static 'js/pako_inflate.min.js' %}" ></script>-->

</head>
<body>
<audio id="train"  src="{% static 'media/Train_Horn_Low.mp3' %}">
</audio>
<div class="container">
  <div class="row">
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">货币名</th>
      <th scope="col">火币价格</th>
      <th scope="col">gate价格</th>
      <th scope="col">更新时间</th>
      <th scope="col">状态</th>
    </tr>
  </thead>
  <tbody id="priceel">

   <tr v-for="(item,index) in prices">
       <td>${ index }</td>
       <td>${ item.huobi.cur }</td>
       <td>${ item.huobi.tick.ask[0] }</td>
       <td>${ item.gate.last }</td>
       <td>${ item.huobi.date }</td>
       <td>
           <template v-if="item.profit == 1">
              <p style="color:red;">利润</p>
           </template>
           <template v-else>
              <p >无利润</p>
           </template>
       </td>
   </tr>

  </tbody>
</table>
  </div>
</div>
<script>

var app5 = new Vue({
  el: '#priceel',
  delimiters: ['${', '}'],
  data: {
    prices:[]
  },
  mounted : function(){

        this.todo()
    },
  methods: {
    reverseMessage: function () {
     // GET /someUrl
      this.$http.get('/ticker/').then(response => {
        // get body data
        var someData = response.body;
        for(var index=0;index<someData.length;index++){
            var new_profit = someData[index];
            var old_profit = this.prices[index];
            if(new_profit && old_profit){
                if(old_profit['profit'] == 0 && new_profit['profit'] == 1){
                    //播放声音
                    <!--$('#train').play();-->
                    document.getElementById('train').play();
                }
            }else{
                if(new_profit && new_profit['profit'] == 1){
                    <!--$('#train').play();-->
                     document.getElementById('train').play();
                }
            }
        }
        this.prices = someData;
      }, response => {
        // error callback
      });

    },
    todo: function(){
        this.intervalid1 = setInterval(function(){
            this.reverseMessage();
        }.bind(this), 5000);
}
  }
})
<!--var ws = new WebSocket('wss://api.huobi.pro/ws');-->

<!--ws.onopen = function(evt) {-->
  <!--console.log('Connection open ...');-->

  <!--ws.send(JSON.stringify({"sub": 'market.bchusdt.depth.step0', "id": 'bchusdt'}))-->



<!--};-->

<!--ws.onmessage = function(evt) {-->
  <!--console.log(evt.data);-->
  <!--var charData = evt.data;-->
<!--var reader = new FileReader();-->
  <!--reader.onload = function(event){-->
    <!--console.log(-->
                <!--' => ' + JSON.stringify(reader.result));-->

  <!--};-->
  <!--reader.readAsText(charData);-->
<!--};-->

<!--ws.onclose = function(evt) {-->
  <!--console.log('Connection closed.');-->
<!--};-->
</script>
</body>
</html>